Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 These are some of the languauges used in data science:<BR>
    1. R Languauge <br>
    2. Python<br>
    3. SQL <br>
    4. Scala <br>
    5. Java

The common libraries are: <br>
1. Panda <br>
2. Numpy <br>
3. Tensorflow <br>
4. Matplotlib<br>
5. Scipy


|Data Science Tools|
---
| Python|  
|Tensor Flow| 
|Matlab|
|Excel|
|Tableau|


|aithmetic expressions| example|
|---------------------|--------|
|addition| 2+2|
|subtraction| 4-2|
|division| 4/2|
multiplication|2*2 |

In [1]:
2+4*2

10

In [2]:
#convert hours to minutes
num_hour=int(input("Enter the number of hours : "))
num_minute= num_hour* 60
print(num_minute)

Enter the number of hours : 9
540

Objectives of this Course:<br>
1.Introduction to data science<br>
2. Libraries used in data science <br>
3. Tools for data Science

Author details: Khayrah Adekilekun